/* COMMON */
.back_green{
    background-color: #1abc9c;
    color: white;
}
.back_navy_grey{
    background-color: #3a546d;
    
}
.back_tire{
    background-color: #2c3e50;

}
h1 , h2{
    text-align: center;
    padding: 20px 0;
}
h4{
    padding:30px 0;
}
/* soluzione per linea della stellina temporanea */
hr{
    border: 2.5px solid white;
    border-radius: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    opacity: 1 !important;
}
/* HEADER */
header{
    color: white;
}
.menus_container, .menu_title h3{
    line-height: 100px;
    height: 100px;
}
.menu_right li{
    display: inline;
    margin-right: 20px;
}
.menu_right a{
    text-decoration: none;
    color: white;
}
/* Main */
.jumbo_container{
    margin:0 auto;
    width: 90%;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.jumbo_container img{
    padding-top: 50px;
    width: 40%;
}
.portfolio{
    padding-top: 30px;
    text-align: center;
    margin: auto;
    width:50%;
}
.portfolio_img{
    width:100%;
    border-radius: 20px;
    overflow: hidden;
    margin:20px 0;
}
.portfolio_img img{
    width:100%;
}
.form-container{
    width: 50%;
    margin: auto;
}
.form-container input[type="text"] , 
.form-container input[type="email"] , 
.form-container textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0px;
}
.form-control:focus{
    border-color: #ced4da;
    box-shadow: none;
}
.my_container p{
    text-align: left;
}
/* FOOTER */
footer{
    margin-top: 20px;
    color: white;
}
.my_central span{

    font-size: 30px;
    padding:15px;
    border: 2px solid white;
    border-radius: 50%;
}

.copyright{
    height: 120px;

}
.copyright span{
line-height: 120px;
}
